@import './base.css';
@import './shortcuts.css';

#app {
  height: 100%;
}

body {
  margin: 0;

}

html, body {
  height: 100%;
  background-color: #f9f9fb;
}

.offcanvas {
  max-width: 350px!important;
}

.main-container {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  margin-top: 100px;
  flex: 1 0 auto;
}

.main-content {
  max-width: 1440px;
  margin: 0 0 0 auto;
  width: 100%;
  background-color: #fff;
  padding: 78px;
  height: calc(100vh - 196px);
  overflow: auto;
}

footer {
  width: 100%;
}
.footer-container {
  height: 96px;
  padding: 11px 0 41px 0;
  background-color:#3c4462;
  flex-shrink: 0;
}

.custom-card-calendar {
  border-radius: 4px;
  border: solid 0.5px #3c44628a;
  background-color: #fff;
  padding: 11px 16px 25px 20px;
}

.app-card-tall {
  width: 780px;
  height: 520px;
}

.app-card-map-large {
  width: 1440px;
  height: 420px;
}

.app-card-large {
  width: 1440px;
  height: 310px;
}

.app-card-large-light {
  width: 1440px;
  height: 200px;
}

.app-card-small {
  width: 322px;
  height: 230px;
}

.feature-container {
  padding-top: 2rem;
  align-items: center;
  width: 100%;
  gap: 2px;
}